<!-- index.hbs -->

<header>
    <h1>F1 Seasons database</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="F1Seasons.hbs">F1 Seasons</a>
    <a href="GrandPrix.hbs">Grand Prix</a>
    <a href="Teams.hbs">Teams</a>
    <a href="Drivers.hbs">Drivers</a>
    <a href="Principals.hbs">Principals</a>
    <a href="GrandPrixTeams.hbs">Grand Prix Teams</a>
</nav>


<img src="./images/f1Cars.jpg">
